@tailwind base;
@tailwind components;
@tailwind utilities;

.doctorApponment {
  background-image: url('../src/assets/image/bg-blue1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footerBg {
  background-image: url('../src/assets/image/footer-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
